apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pin-people-storage-pvc
  namespace: pin-people
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
